@font-face {
    font-family: 'BN Miri';
    src: url('../fonts/BN Miri.eot') format('embedded-opentype'), url('../fonts/BN Miri.ttf') format('truetype');
}

@font-face {
    font-family: 'Petel';
    src: url('../fonts/Petel.eot');
    src: url('../fonts/Petel.ttf') format('truetype'),url('../fonts/Petel.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'horevclm-heavy-webfont';
    src: url('../fonts/horevclm-heavy-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'shmuel';
    src: url('../fonts/shmuel.ttf') format('truetype'),url('../fonts/shmuel.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Assistant-ExtraBold';
    src: url('../fonts/Assistant-ExtraBold.ttf') format('truetype'),url('../fonts/Assistant-ExtraBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Assistant-Regular';
    src: url('../fonts/Assistant-Regular.ttf') format('truetype'),url('../fonts/Assistant-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Assistant-SemiBold';
    src: url('../fonts/Assistant-SemiBold.ttf') format('truetype'),url('../fonts/Assistant-SemiBold.eot') format('embedded-opentype');
}
body {
    direction: rtl;
    background-color: white;
}
#container {
    width: 1280px;
    margin: 0 auto;
}

header {
    position:relative;
}

#logo {
    width: 150px;
    height: 97px;
    display:block; /*שם בשורה לבד את האובייקט ונותן לו מעט ריווח למעלה ולמטה*/
    margin-left: auto; /*ממרכז אוטומטי את האובייקט כך שמימין ומשמאל יהיה את אותו רווח שוליים*/
    margin-right:auto;
}
#text_logo {
    text-align: center;
    font-family:Assistant-ExtraBold;
    font-size:15px;
    color:black;
}
#text_decoration {
    text-decoration: none;
}
#navmain ul {
    list-style: none;
    width: 1280px;
    margin-right: -40px;
    /*position:fixed;*/
}
#navmain ul li{
    display: inline-block;
    float: right;
}
    #navmain ul li a {
        display: block;
        color: black;
        background-color: white;
        text-decoration: none;
        text-align: center;
        width: 213.3px;
        height: 30px;
        padding-top: 10px;
        font-family: 'BN Miri';
        font-size: 24px;
        font-weight: bold;
    }
    #navmain ul li ul li a {
        font-family: 'BN Miri';
        font-size: 20px;
        font-weight: normal;
    }
    #navmain ul li a:hover {
        color: rgb(0,32,96);
        font-size:28px;
    }
    #navmain ul li ul li a:hover {
        color: rgb(0,32,96);
        font-size: 24px;
    }        
#navmain ul li ul {
    display: none;
    position: absolute;
}
#navmain ul li:hover ul{
    display:block;
    width:150px;
}

.noClick {
    cursor: not-allowed;
    color: grey;
}

/*************************skip*************************/

.accessibility {
    position: absolute;
    left: -99999px;
    height: 10px;
    width: 10px
}

#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;
}

    #skip li {
        list-style-type: none
    }

    #skip a {
        position: absolute;
        left: -99999px;
        top: 30px;
    }

        #skip a:focus, #skip a:active {
            position: relative;
            left: 500px;
            z-index: 9999;
            width: 75%;
            height: auto;
            margin: 0 auto;
            padding: 30px 45px;
            text-align: center;
            text-decoration: none;
            letter-spacing: -4px !important;
            font: bold 50px "Arial", "Freesans", sans-serif !important;
            /* color information, edit this to suit the colors of your layout */
            color: black;
            background: transparent url(transparent.png) repeat scroll 0 0;
            border: 1px dotted #ffb4db;
        }



/*************************footer*************************/
footer {
    position: relative;
    width: 1280px;
    height: 30px;
    right: auto;
    left: auto;
    bottom: 0;
    background-color: white;
    padding-top: 10px;
}
footer ul {
    list-style: none;
    margin-right:480px;
}
footer ul li {
    display: inline-block;
    float: right;
}
footer ul li a {
    padding-left:50px;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    font-family: 'BN Miri';
    font-size: 18px;
}


/*************************navBC*************************/

.navbc ol li {
    display: inline-block;
    font-family: 'BN Miri';
    font-size: 20px;
    padding-top:20px;
}

    .navbc ol li a {
        text-decoration: none;
        color: black;
    }

    .navbc ol li::after {
        content: " > ";
    }

    .navbc ol li:last-child::after {
        content: "";
    }

    .navbc ol li a:active {
        color: rgb(0,32,96);
    }

    body{
        position:relative;
    }

#success_banner {
    background-image: url('../imges/successbanner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1252px;
    height: 220px;
    margin-right: 5px;
}




.font_protest
{font-family:Assistant;}

/*הגדרתי את הפונט של כותרת המחאות בקטנה*/

#ashdod {
    position: relative;
}
/*מחאת אשדוד*/

.qm {
    background-image: url('../imges/success/the-question-mark-350169_1280.png');
    background-size:contain;
    background-repeat:no-repeat;
    width:35px;
    height:50px;
    position:relative;
    top:10px;

}

/*אייקון סימן שאלה */


.headline {
    font-family: Assistant;
    position: relative;
    right: 30px;
    top: -10px;
}
/*שאלה הראיון*/
.p_success {
    position: relative;
    font-family: Assistant;
    right: 40px;
    top: -15px;
}
/*פסקת התשובה*/

.microphone {
    background-image: url('../imges/success/microphone-899933_1280.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    height: 40px;
    position: relative;
}
/*אייקון מיקרופון*/
#poriut {
    position:relative;
}
/*מחאת הפוריות*/
#lag_baomer{
    position:relative;
}
/*מחאת ל"ג בעומר*/
#poni_aba{
    position:relative;
}

/*מחאת הפוני של אבא*/

#h1subsuccess {
    font-family: Petel;
    font-weight: bold;
    font-size: 72px;
    color: black;
    padding-right: 500px;
}


#h2subsuccess {
    font-family: Petel;
    font-weight: bold;
    font-size: 28px;
    color: black;
    padding-right: 400px;
}

#h3subsuccess {
    font-family: Assistant-ExtraBold;
    font-size: 18px;
    color: black;
    padding-top: 50px;
    padding-bottom: 10px;
}

#h3subsuccess2 {
    font-family: Assistant-ExtraBold;
    font-size: 18px;
    color: black;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-right: 50%;
}

#h4subsuccess {
    font-family: Assistant-ExtraBold;
    font-size: 16px;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.successtorylink {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 330px;
    height: 30px;
    padding-top: 10px;
}

.successtorylink2 {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 330px;
    height: 30px;
    padding-top: 10px;
    cursor: not-allowed;
}

div.bigprotest {
    padding-right: 620px;
    padding-top: 20px;
}

.successtorytitle {
    font-family: Assistant-ExtraBold;
    font-size: 40px;
    padding-right: 550px;
    color: black;
}

.successtorysubtitle {
    font-family: Assistant-ExtraBold;
    font-size: 20px;
    padding-right: 560px;
    padding-top: 20px;
}



/*************************accordion small*************************/
#accordion {
    position: relative;
    top: -250px;
    right: 40px;
    font-family: Assistant;
}
/*אקורדיון מחאות בקטנה*/


/*אקורדיון לחיצה */
/*העלמת הצ'ק בוקס*/
#accordion input {
    display: none;
}

/*עיצוב של הכותרת לאקורדיון*/
#accordion label {
    background: black;
    border-radius: .25em;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: white;
    width: 50%;
    /*margin-bottom: .125em;*/
    /*padding: .25em 1em;*/
    /*z-index: 20;*/
}

    #accordion label:hover {
        background-color: darkblue;
    }
/*הלייבל שבא ישר אחרי צ'ק בוקס*/
#accordion input:checked + label {
    background: rgb(56,114,136);
    /*משנה את הקצה המעוגל לטיפה ישר*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    margin-bottom: 0;
}

#accordion article {
    background: #f7f7f7;
    height: 0px;
    /*דואג שהבפנים של האוקרדיון לא יגלוש החוצה - אם גולש תסתיר את התוכן ואל תיצור גלילה*/
    overflow: hidden;
    z-index: 10;
}

    #accordion article p {
        padding: 1em;
    }

/*#accordion input:checked article {
}*/
/*להפוך את החלק התחתון של האוקרדיון לישר בעת סימון */
#accordion input:checked ~ article {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    height: auto;
    margin-bottom: .125em;
}

.presentor {
    font-family: Assistant;
    font-size: 16px;
    color: black;
}

.Q {
    font-size: large;
    font-weight: bold;
    color: darkblue;
    font-family: Assistant-ExtraBold;
}

.A {
    font-size: large;
    font-weight: bold;
}

/*************************accordion big*************************/

#accordion2 {
    position: relative;
    top: -300px;
    left: 100px;
}
    /*אקורדיון לחיצה */
    /*העלמת הצ'ק בוקס*/
    #accordion2 input {
        display: none;
    }

    /*עיצוב של הכותרת לאקורדיון*/
    #accordion2 label {
        background: black;
        border-radius: .25em;
        cursor: pointer;
        display: block;
        margin-bottom: 5px;
        padding: 5px 10px;
        color: white;
        width: 50%;
        margin-right: 50%;
        font-family: Assistant;
        /*margin-bottom: .125em;*/
        /*padding: .25em 1em;*/
        /*z-index: 20;*/
    }

        #accordion2 label:hover {
            background-color: darkblue;
            cursor: not-allowed;
        }


/*#accordion input:checked article {
}*/
/*להפוך את החלק התחתון של האוקרדיון לישר בעת סימון */
#accordion input:checked ~ article {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    height: auto;
    margin-bottom: .125em;
    width: 52%;
    font-family: Assistant;
    position: relative;
}


article {
    position: relative;
}

#interviewimg {
    background-image: url('../imges/success/successInterview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 230px;
    height: 250px;
    top: 20px;
    right: 900px;
}
/*תמונה אישה מראיינת*/


#bigsuccessimg {
    background-image: url('../imges/success/bigsuccess.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 230px;
    height: 250px;
    top: -75px;
    right: 100px
}

/*תמונה איש קורא עיתון*/

/*************************accessibilityLink*************************/

.accessibilityLink {
    background-image: url('../imges/negishut.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: relative;
    right: 1100px;
    top: -50px;
}

a:hover, a:focus {
    background-color: yellow;
}

